* {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  background-color: #141947;
}

.hed {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(0, 255, 115);

}

.hed p {
  font-size: 15px;
  margin-top: 0px;
}

.hed img {
  width: 180px;
  margin-right: 10px;
  display: flex;
  float: left;
  border-radius: 90px;
}

.hed h1 {
  font-size: 40px;
  margin-bottom: 0px;
}

.hed section div {
  margin: auto;
  border: 1px solid rgb(255, 242, 0);
}

table th {
  border: 1px solid rgb(255, 0, 0);
}

.hed section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(0, 255, 115);
}

.socials section {
  border: 1px solid rgb(255, 242, 0);

}
